<div class="d-flex w-100 justify-content-center footerBG">
    <div class="d-flex justify-content-start footerSocial" (click)="redirectToGitHub()">
        <h2 class="font-weight-bold">Social</h2>
        <h2 class="font-weight-light">Media</h2>
    </div>
    <div  class="d-none d-md-flex flex-grow-1 align-items-start buttonsSocial">
        <a href="https://github.com/VanTea1" class="ml-2 mr-2 btn btn-outline-dark border-0 font-weight-bold buttonHeader">GitHub</a>
        <a href="https://www.codewars.com/users/chizukot" class="ml-2 mr-2 btn btn-outline-dark border-0 font-weight-bold buttonHeader">CodeWars</a>
    </div>
</div>
